@charset "UTF-8";

.efo_input_glay{
    background-color:#D4D4D4!important;
}

.efo_input_white{
    background-color:#FFFFFF!important;
}

.efo_input_border_red{
    border: 2px solid #FF0000!important;
}

.efo_input_border_gray{
    border: 1px solid #999999!important;
}

.honki_efo_input_glay{
    background-color:#D4D4D4!important;
}

.honki_efo_input_border_gray{
    border: 1px solid #999999!important;
}
