@charset "utf-8";
/* CSS Document */

/*--base--*/
html{
	overflow-y: scroll;
	scrollbar-face-color: #de0301;
	scrollbar-track-color: #ffe7e7;
	scrollbar-arrow-color: #ffffff;
	scrollbar-3dlight-color: #fc7373;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #df0100;
	scrollbar-darkshadow-color: #eec1d8;
	}
body {
	color: #333333;
	font-family: "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯", Osaka, "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3";
	font-size: 14px;
	line-height: 130%;
	margin: 0px auto;
	padding: 0px;
	background-color: #e8e8ea;
	background-image: url(../img/bg01.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
p,h1,h2,h3,h4,h5,h6 {
	padding-top: 0px;
	line-height: 100%;
}
form {
	margin: 0px;
	padding: 0px;
}
img {
vertical-align: top;
font-size:0;
line-height: 0;
border-style:none;
	}
.fright {
	float: right;
}
.fleft {
	float: left;
}
.clear {
	clear: both;
	height: 1px;
}
input {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
a { /* FireFox */
	overflow: hidden;
	outline: none;
}

/*--contents--*/
.txt{
	margin-left:0px;
	margin-top: 0px;
	margin-right: 0px;
	text-align: center;
	padding: 0px;
}
div.contents {
	background-color: #FFFFFF;
	background-image: url(../img/bg02.gif);
	background-repeat: repeat-y;
	background-position: left top;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2px;
	padding-bottom: 70px;
	padding-left: 2px;
}



/*--layout--*/
.alignLeft {
	text-align: left;
}
.alignRight {
	text-align: right;
}
.alignCenter {
	text-align: center;
}
.margin0 {
	margin: 0px;
}
.marginU0 {
	margin-bottom: 0px;
}
.marginU3 {
	margin-bottom: 3px;
}
.marginU4 {
	margin-bottom: 4px;
}
.marginU5 {
	margin-bottom: 5px;
}
.marginU10 {
	margin-bottom: 10px;
}
.marginU15 {
	margin-bottom: 15px;
}
.marginU20 {
	margin-bottom: 20px;
}
.marginU25 {
	margin-bottom: 25px;
}
.marginU30 {
	margin-bottom: 30px;
}
.marginU35 {
	margin-bottom: 35px;
}
.marginU40 {
	margin-bottom: 40px;
}
.marginU45 {
	margin-bottom: 45px;
}
.marginU50 {
	margin-bottom: 50px;
}
.marginU55 {
	margin-bottom: 55px;
}
.marginU60 {
	margin-bottom: 60px;
}
.marginU65 {
	margin-bottom: 65px;
}
.marginU70 {
	margin-bottom: 70px;
}
.marginU80 {
	margin-bottom: 80px;
}
.marginU90 {
	margin-bottom: 90px;
}
.marginU100 {
	margin-bottom: 100px;
}
.marginU110 {
	margin-bottom: 110px;
}
.marginU120 {
	margin-bottom: 120px;
}
.marginU150 {
	margin-bottom: 150px;
}
.marginL5 {
	margin-left: 5px;
}
.marginL10 {
	margin-left: 10px;
}
.marginL15 {
	margin-left: 15px;
}
.marginL20 {
	margin-left: 20px;
}
.marginL30 {
	margin-left: 30px;
}
.marginL40 {
	margin-left: 40px;
}
.marginL50 {
	margin-left: 50px;
}
.marginL60 {
	margin-left: 60px;
}
.marginL90 {
	margin-left: 90px;
}

.marginR5 {
	margin-right: 5px;
}
.marginR10 {
	margin-right: 10px;
}
.marginR15 {
	margin-right: 15px;
}
.marginR20 {
	margin-right: 20px;
}
.marginR25 {
	margin-right: 25px;
}
.marginR30 {
	margin-right: 30px;
}
.marginR40 {
	margin-right: 40px;
}
.marginR50 {
	margin-right: 50px;
}
.marginR100 {
	margin-right: 100px;
}
.marginR150 {
	margin-right: 150px;
}
.marginR200 {
	margin-right: 200px;
}

.padding0 {
	padding: 0px;
	margin-top: 5px;
}
.padding5 {
	padding: 5px;
}
.padding10 {
	padding: 10px;
}
.padding20 {
	padding: 20px;
}
.paddingU20 {
	padding-bottom: 20px;
}
.paddingU10 {
	padding-bottom: 10px;
}
.paddingU15 {
	padding-bottom: 15px;
}
.paddingU30 {
	padding-bottom: 30px;
}
.paddingU50 {
	padding-bottom: 50px;
}
.paddingL30 {
	padding-left: 30px;
}
.paddingU100 {
	padding-bottom: 100px;
}
.paddingU200 {
	margin-bottom: 200px;
}
.paddingU250 {
	padding-bottom: 250px;
}
.paddingT10 {
	padding-top: 10px;
}
.paddingT15 {
	padding-top: 15px;
}
.paddingT20 {
	padding-top: 20px;
}
.paddingL10 {
	padding-left: 10px;
}
.paddingL20 {
	padding-left: 20px;
}
.paddingL25 {
	padding-left: 25px;
}
.paddingR10 {
	padding-right: 10px;
}
.paddingR20 {
	padding-right: 20px;
}
.paddingU5 {
	padding-bottom: 5px;
}

.paddinL20 {
	padding-left: 20px;
}
.paddingT20 {
	padding-top: 20px;
}
.paddingT30 {
	padding-top: 30px;
}
.bold {
	font-weight: bold;
}
/*--fotter--*/
#footer {
	border-top: 1px solid #333333;
	width: 890px;
	margin: 0px auto;
	padding: 0px 0px;
	}
div.footer_left {
	width: 500px;
	float: left;
	padding-left: 20px;
}
.footer_left img {
	vertical-align: middle;
}


address { font-style: normal;}

#footer_txt {
	font-size: 10px;
	line-height: 150%;
	text-align: left;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	}

.footer_link { color: #333333;}
div.footer_right {
	float: right;
	font-size: 10px;
	color: #333333;
	width: 360px;
	padding-top: 10px;
}
p.footer_text01 {
	font-size: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	margin-left: 0px;
	color: #333333;
}
ul.ul_footer {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: right;
}
ul.ul_footer li {
	display: inline;
	text-align: right;
	font-size: 12px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	list-style-type: none;
}
ul.ul_footer li a {
	color: #333333;
}

table#landing_form,
table#table-01 {
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	margin-bottom: 20px;
}
table#landing_form,
table#table-01{
	background-repeat: no-repeat;
	background-position: 98% 3%;
}

table#landing_form th,
table#table-01 th {
	background-color: #e6ffe1;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	text-align: left;
	font-weight: normal;
	margin: 0px;
	padding-right: 8px;
	padding-left: 8px;
	}

table#landing_form td,
table#table-01 td {
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color: #444444;
	text-align: left;
	margin: 0px;
	padding-top: 12px;
	padding-right: 2px;
	padding-bottom: 12px;
	padding-left: 4px;
	}
table#landing_form img,
table#table-01 img {
	vertical-align: middle;
}
.color1 {
	background-image: url(../img/hissu1.gif);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	}

.color2 {
	background-image: url(../img/ninni.gif);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	}

#color {
	background-image: url(../img/icon.gif);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	margin: 0px;
	padding: 115px 8px 0px 8px;
	}
#color02 {
	background-image: url(../img/icon.gif);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	margin: 0px;
	padding: 0px 8px 0px 8px;
	}
.color {
	background-image: url(../img/icon.gif);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	}
div.tx11 {
	padding-top: 5px;
	margin: 0px;
}
.orange {
	color: #FF6600;
}
.marginT5 {
	margin-top: 5px;
}
.red {
	color: #FF0000;
	font-size: 14px;
}
.gray{
	vertical-align: middle;
	border: 1px solid #7F9DB9;
	margin: 0px 3px;
	padding: 3px;
}

ul.check_list {
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 115px;
	list-style-type: none;
}
ul.check_list li {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	vertical-align: middle;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}
ul.check_list img {
	vertical-align: middle;
}
#yellow {
	background-image: url(../img/hissu2.gif);
	background-repeat: no-repeat;
	background-position: 415px 0px;
	text-align: left;
	font-weight: bold;
	margin: 0px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 13px;
	padding-left: 122px;
}
#send_txt {
	text-align: left;
	font-size: 12px;
	line-height: 160%;
	padding-top: 0px;
	padding-right: 35px;
	padding-bottom: 0px;
	padding-left: 140px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	margin-left: 0px;
}
#send_txt02 {
	text-align: left;
	font-size: 12px;
	line-height: 160%;
	padding-top: 0px;
	padding-right: 35px;
	padding-bottom: 0px;
	padding-left: 210px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
}
#tx16 {
	font-size: 16px;
	padding: 8px;
	margin: 0px;
}
#agreeBox {
	background-color: #FFEEEE;
	width: 280px;
	margin: 0px auto 7px auto;
	padding: 10px;
}
#check {
	color: #CC0000;
	font-weight: bold;
	margin: 0px;
}
#center {
	text-align: center;
}
.under_bar {
	font-weight: normal;
	text-decoration: underline;
}
.under_bar a {
	color: #333333;
}
table.table01 {
	margin-left: 46px;
}

input.ime_disabled {
	ime-mode:disabled;
 }

div.error-message {
	background-image: url(../../img/exclamation.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
	clear: both;
	color: #E60012;
	font-weight: bold;
}

.redbold{
	color: red;font-weight: bold;
}

.red{
	color: red;
}

.check-box {
    background-color: #FFEEEE;
    width: 630px;
    margin: 0 auto 30px;
    padding-top: 20px;
    padding: 20px 0 8px;
}

ul.check_list {
    text-align: left;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 50px;
    list-style-type: none;
}

ul.check_list li {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 8px;
    vertical-align: middle;
}

ul.check_list img {
    vertical-align: middle;
}


p.txt02 {
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 47px;
}

div.check_error {
    margin: 5px auto;
    padding: 10px;
    width: 630px;
    background-color: red;
    color: white;
    font-weight: bold;
 }