@charset "UTF-8";

.tipsy{cursor:pointer !important;position:absolute !important;z-index:100000 !important;}
.ureru-efo-baloon-wrapper{width:auto !important;padding:0 !important;}
.ureru-efo-baloon-baloon{width:auto !important;border-collapse:collapse !important;border:none !important;border-spacing:0 !important;}
.ureru-efo-baloon-baloon td{border:none !important;padding:0 !important;}
.ureru-efo-baloon-baloon-0,.ureru-efo-baloon-baloon-1,.ureru-efo-baloon-baloon-2{height:4px !important;}
.ureru-efo-baloon-baloon-3,.ureru-efo-baloon-baloon-4,.ureru-efo-baloon-baloon-5{height:auto !important;}
.ureru-efo-baloon-baloon-6,.ureru-efo-baloon-baloon-7,.ureru-efo-baloon-baloon-8{height:15px !important;}
.ureru-efo-baloon-baloon-0,.ureru-efo-baloon-baloon-3,.ureru-efo-baloon-baloon-6{width:23px !important;}
.ureru-efo-baloon-baloon-1,.ureru-efo-baloon-baloon-4,.ureru-efo-baloon-baloon-7{width:auto !important;}
.ureru-efo-baloon-baloon-2,.ureru-efo-baloon-baloon-5,.ureru-efo-baloon-baloon-8{width:8px !important;}
.ureru-efo-baloon-baloon-0{background-image:url('img/tipsy/ureru-efo-baloon-0.png');background-position:left top !important;background-repeat:no-repeat !important;}
.ureru-efo-baloon-baloon-0{background-image:url('img/tipsy/ureru-efo-baloon-0.gif')\9;}
.ureru-efo-baloon-baloon-1{background-image:url('../img/tipsy/ureru-efo-baloon-1.png');background-position:center top !important;background-repeat:repeat-x !important;}
.ureru-efo-baloon-baloon-1{background-image:url('../img/tipsy/ureru-efo-baloon-1.gif')\9;}
.ureru-efo-baloon-baloon-2{background-image:url('../img/tipsy/ureru-efo-baloon-2.png');background-position:right top !important;background-repeat:no-repeat !important;}
.ureru-efo-baloon-baloon-2{background-image:url('../img/tipsy/ureru-efo-baloon-2.gif')\9;}
.ureru-efo-baloon-baloon-3{background-image:url('../img/tipsy/ureru-efo-baloon-3.png');background-position:left center !important;background-repeat:repeat-y !important;}
.ureru-efo-baloon-baloon-3{background-image:url('../img/tipsy/ureru-efo-baloon-3.gif')\9;}
.ureru-efo-baloon-baloon-4{background-image:url('../img/tipsy/ureru-efo-baloon-close.png');background-color:#FF0000 !important;background-position:right top !important;background-repeat:no-repeat !important;}
.ureru-efo-baloon-baloon-4{background-image:url('../img/tipsy/ureru-efo-baloon-close.gif')\9;}
.ureru-efo-baloon-baloon-5{background-image:url('../img/tipsy/ureru-efo-baloon-5.png');background-position:right center !important;background-repeat:repeat-y !important;}
.ureru-efo-baloon-baloon-5{background-image:url('../img/tipsy/ureru-efo-baloon-5.gif')\9;}
.ureru-efo-baloon-baloon-6{background-image:url('../img/tipsy/ureru-efo-baloon-6.png');background-position:left bottom !important;background-repeat:no-repeat !important;}
.ureru-efo-baloon-baloon-6{background-image:url('../img/tipsy/ureru-efo-baloon-6.gif')\9;}
.ureru-efo-baloon-baloon-7{background-image:url('../img/tipsy/ureru-efo-baloon-7.png');background-position:center bottom !important;background-repeat:repeat-x !important;}
.ureru-efo-baloon-baloon-7{background-image:url('../img/tipsy/ureru-efo-baloon-7.gif')\9;}
.ureru-efo-baloon-baloon-8{background-image:url('../img/tipsy/ureru-efo-baloon-8.png');background-position:right bottom !important;background-repeat:no-repeat !important;}
.ureru-efo-baloon-baloon-8{background-image:url('../img/tipsy/ureru-efo-baloon-8.gif')\9;}
.ureru-efo-baloon-comment{margin:0 0 0 -15px !important;padding:3px 25px 0px 0px !important;max-width:400px !important;font-size:14px !important;font-weight:bold !important;color:#FFFFFF !important;}
html*.ureru-efo-baloon-comment{margin-left:0 !important;}
